@import '../../assets/styles/variables';

.category {
  list-style: none;
  padding-left: 0;
  display: flex;
  &-item {
    cursor: pointer;
    background-color: #F9F9F9;
    padding: 1.3rem 3rem;
    margin-right: 1rem;
    border-radius: 30px;

    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.015rem;
    color: $current-category;
    &:not(.category-item--active):hover {
      background-color: rgba($main-background, .3);
    }
    &--active {
      color: #fff;
      background-color: $current-category;
    }
  }
}

@media (max-width: 1070px) {
  .category-item {
    padding: 1.1rem 2rem;
  }
}
