$main-background: #121212;
$default-color-element: #c93756;
$default-color: #fff;
$current-category: #282828;
$description-color: #7B7B7B;
$color-for-hover: #8b112b;
$button-delete: #D7D7D7;
$button-back: #919191;